.navigation{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
    height:72px;
}
.navigation{
    display:flex;
    gap:24px;
    list-style: none;
    font-weight:500;
}

nav ul{
    display:flex;
    list-style: none;
    gap:24px;
}